<div class="index_page">
  <% @sneakers.each do |sneaker| %>
  <div class="logos">
    <% unless sneaker.brand_name == "New Balance"%>
      <a href="/sneaker/<%=sneaker.brand.id%>"><img src="/logos/<%=sneaker.brand_name.downcase%>-logo.jpg"></img></a>
        <br>
        <br>
      <p>Size: <%=sneaker.shoe_size%></p>
      
    <% else %>
      <a href="/sneaker/<%=sneaker.brand.id%>"><img src="/logos/newbalance-logo.jpg"></img></a>
        <br>
        <br>
      <p>Size: <%=sneaker.shoe_size%></p>
    <% end %>
  </div>
  <%end%>
</div>

<div class="ad">
<iframe class="single_ad" src="http://rcm-na.amazon-adsystem.com/e/cm?t=size05d-20&o=1&p=8&l=as1&asins=<%=@sneaker_ad1%>&ref=tf_til&fc1=000000&IS2=1&lt1=_blank&m=amazon&lc1=0000FF&bc1=000000&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
</div>
<div class="ad">
<iframe class="single_ad" src="http://rcm-na.amazon-adsystem.com/e/cm?t=size05d-20&o=1&p=8&l=as1&asins=<%=@sneaker_ad2%>&ref=tf_til&fc1=000000&IS2=1&lt1=_blank&m=amazon&lc1=0000FF&bc1=000000&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
</div>
<div class="ad">
<iframe class="single_ad" src="http://rcm-na.amazon-adsystem.com/e/cm?t=size05d-20&o=1&p=8&l=as1&asins=<%=@sneaker_ad3%>&ref=tf_til&fc1=000000&IS2=1&lt1=_blank&m=amazon&lc1=0000FF&bc1=000000&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
</div>
<div class="ad">
<iframe class="single_ad" src="http://rcm-na.amazon-adsystem.com/e/cm?t=size05d-20&o=1&p=8&l=as1&asins=<%=@sneaker_ad4%>&ref=tf_til&fc1=000000&IS2=1&lt1=_blank&m=amazon&lc1=0000FF&bc1=000000&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
</div>


<br>


<!-- <a target="_blank" href="http://www.amazon.com/Nike-Mens-NIKE-RUNNING-SHOES/dp/B00HHCWL5G%3FSubscriptionId%3DAKIAIYQA6IYPMV7GU32A%26tag%3Dsize05d-20%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3DB00HHCWL5G/?_encoding=UTF8&camp=1789&creative=9325&linkCode=ur2&tag=size05d-20">Nike Free Run</a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=size05d-20&l=ur2&o=1" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /> -->

