<div class="black">
  <div class="background_form">
    <form class="form-inline my_form" action="/sneaker" method="POST">
      <div class="form-group">
        <label class="sr-only" for="size">Size</label>
        <input type="text" name="base_size" class="form-control" id="size" placeholder="Enter Shoe Size">
      </div>
        <select class="form-control" name="brand_name">
          <%Brand.all.each do |brand|%>
            <option>
              <%=brand.name%>
            </option>
           <%end%>
        </select>

        <button type="submit" class="btn btn-success">Go</button>
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
    </form>
    <h6>...Where Size DOES Matter</h6>
  </div>
</div>

<div class="container best_sellers">
  <h2>Best Sellers</h2>
    <div class="container best_sellers1">
      <br>
      <br>
      <div class="row col-md-3 best_seller">
          <a href="http://www.amazon.com/gp/product/<%=@best_seller1.asin%>/ref=as_li_tf_il?ie=UTF8&camp=1789&creative=9325&creativeASIN=<%=@best_seller1.asin%>&linkCode=as2&tag=size05d-20"><img border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=<%=@best_seller1.asin%>&Format=_SL110_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=size05d-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=size05d-20&l=as2&o=1&a=<%=@best_seller1.asin%>" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
          <p><small><%=@best_seller1.title%></small></p>
      </div>

      <div class="row col-md-3 best_seller">        
          <a href="http://www.amazon.com/gp/product/<%=@best_seller2.asin%>/ref=as_li_tf_il?ie=UTF8&camp=1789&creative=9325&creativeASIN=<%=@best_seller2.asin%>&linkCode=as2&tag=size05d-20"><img border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=<%=@best_seller2.asin%>&Format=_SL110_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=size05d-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=size05d-20&l=as2&o=1&a=<%=@best_seller2.asin%>" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
        <p><small><%=@best_seller2.title%></small></p>
      </div>

      <div class="row col-md-3 best_seller">
          <a href="http://www.amazon.com/gp/product/<%=@best_seller3.asin%>/ref=as_li_tf_il?ie=UTF8&camp=1789&creative=9325&creativeASIN=<%=@best_seller3.asin%>&linkCode=as2&tag=size05d-20"><img border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=<%=@best_seller3.asin%>&Format=_SL110_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=size05d-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=size05d-20&l=as2&o=1&a=<%=@best_seller3.asin%>" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
        <p><small><%=@best_seller3.title%></small></p>
      </div>

      <div class="row col-md-3 best_seller">
          <a href="http://www.amazon.com/gp/product/<%=@best_seller4.asin%>/ref=as_li_tf_il?ie=UTF8&camp=1789&creative=9325&creativeASIN=<%=@best_seller4.asin%>&linkCode=as2&tag=size05d-20"><img border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=<%=@best_seller4.asin%>&Format=_SL110_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=size05d-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=size05d-20&l=as2&o=1&a=<%=@best_seller4.asin%>" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
        <p><small><%=@best_seller4.title%></small></p>
      </div>
    </div>

    <br>
    <br>

    <div class="container best_sellers2">
      <div class="row col-md-3 best_seller">        
            <a href="http://www.amazon.com/gp/product/<%=@best_seller5.asin%>/ref=as_li_tf_il?ie=UTF8&camp=1789&creative=9325&creativeASIN=<%=@best_seller5.asin%>&linkCode=as2&tag=size05d-20"><img border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=<%=@best_seller5.asin%>&Format=_SL110_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=size05d-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=size05d-20&l=as2&o=1&a=<%=@best_seller5.asin%>" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
            <p><small><%=@best_seller5.title%></small></p>
      </div>

      <div class="row col-md-3 best_seller">
            <a href="http://www.amazon.com/gp/product/<%=@best_seller6.asin%>/ref=as_li_tf_il?ie=UTF8&camp=1789&creative=9325&creativeASIN=<%=@best_seller6.asin%>&linkCode=as2&tag=size05d-20"><img border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=<%=@best_seller6.asin%>&Format=_SL110_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=size05d-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=size05d-20&l=as2&o=1&a=<%=@best_seller6.asin%>" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
            <p><small><%=@best_seller6.title%></small></p>
      </div>

      <div class="row col-md-3 best_seller">
            <a href="http://www.amazon.com/gp/product/<%=@best_seller7.asin%>/ref=as_li_tf_il?ie=UTF8&camp=1789&creative=9325&creativeASIN=<%=@best_seller7.asin%>&linkCode=as2&tag=size05d-20"><img border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=<%=@best_seller7.asin%>&Format=_SL110_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=size05d-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=size05d-20&l=as2&o=1&a=<%=@best_seller7.asin%>" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
            <p><small><%=@best_seller7.title%></small></p>
      </div>
      
      <div class="row col-md-3 best_seller">     
            <a href="http://www.amazon.com/gp/product/<%=@best_seller8.asin%>/ref=as_li_tf_il?ie=UTF8&camp=1789&creative=9325&creativeASIN=<%=@best_seller8.asin%>&linkCode=as2&tag=size05d-20"><img border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=<%=@best_seller8.asin%>&Format=_SL110_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=size05d-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=size05d-20&l=as2&o=1&a=<%=@best_seller8.asin%>" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
            <p><small><%=@best_seller8.title%></small></p>
      </div>
    </div>
</div>
