<h1><%=@brand.name%></h1>
  <br>
  <br>
  <% @amazon_info.each do |amazon| %>
    <div class="sneaker">
      <a href="http://www.amazon.com/gp/product/<%=amazon.asin%>/ref=as_li_tf_il?ie=UTF8&camp=1789&creative=9325&creativeASIN=<%=amazon.asin%>&linkCode=as2&tag=size05d-20"><img border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=<%=amazon.asin%>&Format=_SL110_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=size05d-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=size05d-20&l=as2&o=1&a=<%=amazon.asin%>" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
      <p><%=amazon.title%></p>
    </div>
  <%end%>

  <% @shoe_ad1 = @amazon_info.first %>
    <div class="ad" id="show_ad">
      <iframe class="single_ad_show" src="http://rcm-na.amazon-adsystem.com/e/cm?t=size05d-20&o=1&p=8&l=as1&asins=<%=@shoe_ad1.asin%>&ref=tf_til&fc1=000000&IS2=1&lt1=_blank&m=amazon&lc1=0000FF&bc1=000000&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
    </div>

  <% @shoe_ad2 = @amazon_info.last %>
    <div class="ad" id="show_ad">
      <iframe class="single_ad_show" src="http://rcm-na.amazon-adsystem.com/e/cm?t=size05d-20&o=1&p=8&l=as1&asins=<%=@shoe_ad2.asin%>&ref=tf_til&fc1=000000&IS2=1&lt1=_blank&m=amazon&lc1=0000FF&bc1=000000&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
    </div>

    <div class="ad_banner">
      <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=size05d-20&o=1&p=26&l=ur1&category=sh116_129&banner=0M41WE31PB40794EWZR2&f=ifr" width="468" height="60" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
    </div>
