<!DOCTYPE html>
<html>
<head>

  <title>SizeRight</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
  <link href='http://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>
</head>
<body>
<!-- BOOTSTRAP HEADER -->
<div id="wrap">

      <!-- Fixed navbar -->
      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container" style="position:relative;">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- <a class="navbar-brand" href="#">SizeRight</a> -->
          </div>
          <div class="collapse navbar-collapse">
            <% if current_user %>
            <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%=current_user.email.split("@").first.capitalize%> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/about">About Us</a></li>
                  <li><a href="/contact">Contact Us</a></li>
                  <li class="divider"></li>
                  <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></a></li>
                
                  <% else %>
                  <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li>
              <li><a href="/users/sign_up">Register</a></li>
              <li><a href="/users/sign_in">Sign In</a></li>
              

                  <% end %>
                </ul>
              </li>
            </ul>
            <% if current_user%>
                <span class="brand_name1"><h3>SizeRight</h3></span>
                <%else%>
                <span class="brand_name"><h3>SizeRight</h3></span>
                <%end%>


          </div><!--/.nav-collapse -->
        </div>
      </div>

      <!-- Begin page content -->
      <div class="container">
        <%= yield %>
        <!-- <div class="page-header">
          <h1>Sticky footer with fixed navbar</h1>
        </div>
        <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added within <code>#wrap</code> with <code>padding-top: 60px;</code> on the <code>.container</code>.</p>
        <p>Back to <a href="../sticky-footer">the default sticky footer</a> minus the navbar.</p> -->
      </div>
</div>

<!-- BOOTSTRAP STICKY-FOOTER -->
<div id="footer">
  <div class="container">
    <p class="text-muted" style="text-align: right;">SizeRight &copy 2013</p>
  </div>
</div>


</body>
</html>
